.sidebar {
  padding-top: 25px;

  p {
    text-align: center;
    font-family: "Avenir", sans-serif;
    margin-bottom: 0;
    font-size: 22px;
  }
}

.pageContent {
  font-family: "Avenir", sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    clear: both;
  }
}
