@mixin siteBtn($color) {
  background-color: $color;
  border-color: $color #7f7f7f #7f7f7f $color;
  border-width: 2px;
  border-radius: 5px;
  color: #242729;
  font-size: 24px;
  padding-left: 1rem;
  padding-right: 1rem;

  &:hover {
    border-color: $color;
    color: $color;
    background-color: #fff;
  }
}

@mixin buttonMain {
  @include siteBtn(#ddbba9)
}

@mixin buttonSecondary {
  @include siteBtn(#d1dca4)
}
